<svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="-8 -8 520 520"><path d="M325 234 105 13l280 161-60 60zM47 0C34 7 25 19 25 35v442c0 16 9 28 22 35l257-256L47 0zm425 226-59-35-65 65 65 65 60-35c18-14 18-46-1-60zM105 499l280-161-60-60-220 221z"/></svg>
