<svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M319 269c-1-37 16-65 50-85-19-27-48-42-85-45-35-3-74 21-88 21-15 0-50-20-77-20C63 141 4 185 4 274q0 39 14 81c13 36 59 126 108 125 25-1 43-18 75-18s49 18 77 18c48-1 90-83 102-119-65-31-61-90-61-92zm-57-164c27-33 25-62 24-73-24 1-52 16-68 35a96 96 0 0 0-25 72c26 2 49-12 69-34z"/></svg>
