<svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M476 3 13 271a24 24 0 0 0 2 43l106 44 287-253c6-5 14 3 9 8L176 408v81c0 23 29 32 43 15l63-77 125 52c14 6 30-3 33-18l72-432c3-20-19-35-36-25z"/></svg>
